# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# Data Files (optional)
datasets/

# Large Files
*.zip
*.xlsx

# OS Files
.DS_Store
Thumbs.db
